ul{
    
     list-style-type: none;
}

/*contenedor slider*/

.contenedor slider{
    float:left; 
    margin:0 auto;
    width: 800px;
    }

.slider-wrapper{
    float:left;
    position:relative;
    height: 360px;
    width: 650px;
    
    overflow: hidden;
    margin:-35px 15px;
   
    
        }



.slider-wrapper li{
    
     display:none;
    
}

li.slide-current{
    display: block;
    
}

.slider-wrapper li img{
    
    position: absolute;
    top: 0;
    left: 0;
    max-width: 850px;
    height:360px;
    
  }

/* caption*/

.caption{
    position: absolute;
    bottom: 0;
    left: 0;
    width:850px;
    background: rgba(1,0,0,0.6);
    padding:12 px;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    
    
}

.caption-title{
    
    color:#00c5b9;
    font-weight: 700;
    font-size: 1.6em;
    margin-bottom: 10px;
    
    
}

.caption p {
    color:#fff;
    font-size: 1.4em;
    line-height: 1.3em;
    
    
}

.slider-wrapper li:hover .caption {
    
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    
    
}


/*controles*/

#controles{
    float: left;
    margin: 335px -380px;
    width: 80px
    
    
}

.controles{
    text-align: center;
    margin: 15px;
        
}

.controles li {
    background:#415066;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    cursor:pointer;
    
}

.controles li.activo{
    
    background: #00c5b9;
    
}


