/* Variables */
/* Colors */
/* Common style */




h1 {
  font-family: "GothamRnd-Bold", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  color: #2ecc71;
  margin: 15px 0px;
}







/* Dropdown style */
.dropdown {
	
  width: 18em;
  margin: 60px 5px;
  margin-bottom: 1em;
}
.dropdown dt a {
    font-family: "GothamRnd-Bold", Helvetica, Arial, sans-serif;
  display: block;
  height: 2.5em;
  width: 100%;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  text-decoration: none;
}
.dropdown dt a:hover, .dropdown dt a:active {
  border-color: #bdc3c7;
}
.dropdown dt span {
  display: block;
  padding: 0 1em;
  line-height: 2.5em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHo+AACAQQAA+MoAAIC0AAB48QAA9RwAADw3AAAbzhlfIT4AAACJSURBVHjajNAxCsJAEEbhb5cU4i0sbHIaL6IQTxFPo4VeROwXQs4gKW1cWJZEM90wj5l5f0jDeMXBunqENIw7vLD9A09oIxL6FdsvSCENI2zwxH4BTmgxxeJc92P76cuIpRBuc6K45yZWwzPeleixBOLMr30tWgJZuqwcQJNFy2GzkHeHUMPwGQChFSPmzlJ1WgAAAABJRU5ErkJggg==) no-repeat scroll right center;
  border-right: 1em solid transparent;
  cursor: pointer;
}
.dropdown dd {
  position: relative;
}
.dropdown dd ul {
  display: none;
  position: absolute;
  left: 0;
  top: -2.5em;
  width: 100%;
  list-style: none;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
    font-size: 14px;
    font-family: "GothamRnd-Bold", Helvetica, Arial, sans-serif;
}
.dropdown dd ul li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}
.dropdown dd ul li:last-child a:hover {
  border-radius: 0 0 3px 3px;
}
.dropdown dd li a {
  display: block;
  padding: 0 1em;
  line-height: 2.5em;
  text-decoration: none;
  color:black;
}
.dropdown dd li a:hover {
    font-family: "GothamRnd-Bold", Helvetica, Arial, sans-serif;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  
}

.selected {
  font-weight: 700;
}


/*responsivo*/

@media only screen and (max-width:480px) {
h1 {
  font-family: "GothamRnd-Bold", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: #2ecc71;
  margin: 15px 0px;
}


/* Dropdown style */
.dropdown {
	
  width:100%;
  margin: 60px 5px;
  margin-bottom: 2em;
}
.dropdown dt a {
    font-family: "GothamRnd-Bold", Helvetica, Arial, sans-serif;
  display: block;
  height: 2.7em;
  width:80%;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  text-decoration: none;
  font-size:11px;
  margin:-30px 10px;
}
.dropdown dt a:hover, .dropdown dt a:active {
  border-color: #bdc3c7;
}
.dropdown dt span {
  display: block;
  padding: 0 2em;
  line-height: 2.5em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHo+AACAQQAA+MoAAIC0AAB48QAA9RwAADw3AAAbzhlfIT4AAACJSURBVHjajNAxCsJAEEbhb5cU4i0sbHIaL6IQTxFPo4VeROwXQs4gKW1cWJZEM90wj5l5f0jDeMXBunqENIw7vLD9A09oIxL6FdsvSCENI2zwxH4BTmgxxeJc92P76cuIpRBuc6K45yZWwzPeleixBOLMr30tWgJZuqwcQJNFy2GzkHeHUMPwGQChFSPmzlJ1WgAAAABJRU5ErkJggg==) no-repeat scroll right center;
  border-right: 1em solid transparent;
  cursor: pointer;
}
.dropdown dd {
  position: relative;
  margin:20px 0px;
}
.dropdown dd ul {
  display: none;
  position: absolute;
  left: 0;
  top: -2.5em;
  width: 90%;
  list-style: none;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
    font-size: 10px;
    font-family: "GothamRnd-Bold", Helvetica, Arial, sans-serif;
}
.dropdown dd ul li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}
.dropdown dd ul li:last-child a:hover {
  border-radius: 0 0 3px 3px;
}
.dropdown dd li a {
  display: block;
  padding: 0 1em;
  line-height: 3em;
  text-decoration: none;
  color:black;
}
.dropdown dd li a:hover {
    font-family: "GothamRnd-Bold", Helvetica, Arial, sans-serif;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  
}

.selected {
  font-weight:500;
}
}
